
.contract-text-card {
  text-align: left;
  overflow-x: auto;
  white-space: nowrap;
  /* Optional: set a min-width or max-width if needed */
}

.contract-text-card {
  text-align: left;
}

.contract-text-list {
  list-style-type: disc;
  padding-left: 20px;
}

.contract-text-list li {
  text-align: left;
}

.contract-text-option {
  color: green;
  font-weight: bold;
}

.contract-text-possible {
  color: red;
  font-weight: bold;
}

.contract-text-error {
  color: blue;
  font-weight: bold;
}
